.tab {
    background-color: #1d2545;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.btnActive > *{
    fill: #0098ff;
    filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .7));
}
.btn:focus {
    fill: #000;
}