.li {
    /*background-color: #d4abf7;*/
    background-color: #607bb730;
    height: 66px;
    margin: 40px 20px;
    padding: 17px;
    position: relative;
}
.mvImg {
    width: 78.56px;
    height: 110px;
    position: absolute;
    top: -25px;
    box-shadow: 0 0 5px 5px #0000001c;
    background-position: center;
    background-size: cover;
}
.mvInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 105px;
}
.mvFtStrong {
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mvFtSmallGroup {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.mvFtSmall {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}
.bookMark {
    position: absolute;
    top: -20px;
    right: 20px;
}
.swalTitle {
    font-size: 1.3rem;
}