.search_bar {
  width: calc(100% - 30px);
  position: absolute;
  top: 0px;
  padding: 15px;
  display: flex;
  align-items: flex-start;
}
.search_bar > * {
  height: 35px;
}
.search {
  /*background-color: #b6c3ff;*/
  background-color: #050b27;
  border-radius: 10px;
  border: 0;
  width: 82%;
  margin-right: 15px;
  padding: 0 15px;
  caret-color: #fff;
  color: #fff;
}
.search::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.search:focus {
  outline: 0;
  color: #fff;
}
.btn {
  background-color: #008aff;
  border: 0;
  color: #fff;
  border-radius: 10px;
  width: 12%;
  cursor: pointer;
  box-shadow: 0 0 2px 2px rgba(0, 138, 255, 0.5);
}
.content {
  position: absolute;
  top: 62px;
  width: 100%;
  height: calc(100vh - 146px);
  overflow-y: auto;
}
.nothing {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  fill: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  /*position: absolute;*/
  /*top: 193px;*/
}
.nothing > *:first-child {
  margin-bottom: 20px;
}
